@font-face {
  font-family: 'HeadingNowExtrabold';
  src: url('./HeadingNowTrial-27Extrabold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtraBoldItalic';
  src: url('./OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'BenzGrotesk';
  src: url('./Benz Grotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 