@font-face {
  font-family: 'HeadingNowExtrabold';
  src: url('/fonts/HeadingNowTrial-27Extrabold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtraBoldItalic';
  src: url('/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'BenzGrotesk';
  src: url('/fonts/Benz Grotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'RoadRage';
  src: url('/fonts/Road_Rage.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} 